# Install Root default current directory
# INSTALL_ROOT=

# VDT Cache default http://vdt.cs.wisc.edu/vdt_161_cache
# CACHE=

# VDT Platform default linux-rhel-4
# PLATFORM=linux-rhel-4

# VDT Packages default JDK-1.5,Globus-WS,Globus-WS-PBS-Setup,PRIMA-GT4
# PACKAGES=JDK-1.5,Globus-WS,Globus-WS-PBS-Setup,PRIMA-GT4

# Gums server
# GUMS_SERVER=

# Globus port range. default 40000,41000
# GLOBUS_TCP_PORT_RANGE=40000,41000


# VDT Answers

# export VDTSETUP_AGREE_TO_LICENSES=
# export VDTSETUP_CA_CERT_UPDATER=
# export VDTSETUP_EDG_CRL_UPDATE=
# export VDTSETUP_EDG_MAKE_GRIDMAP=
# export VDTSETUP_ENABLE_BESTMAN=
# export VDTSETUP_ENABLE_CEMON=
# export VDTSETUP_ENABLE_CONDOR=
# export VDTSETUP_ENABLE_CONDOR_DEVEL=
# export VDTSETUP_ENABLE_GATEKEEPER=
# export VDTSETUP_ENABLE_GRIDFTP=
# export VDTSETUP_ENABLE_GRIS=
# export VDTSETUP_ENABLE_GUMS=
# export VDTSETUP_ENABLE_JCLARENS=
# export VDTSETUP_ENABLE_NMI=
# export VDTSETUP_ENABLE_RLS=
# export VDTSETUP_ENABLE_ROTATE=
# export VDTSETUP_ENABLE_SQUID=
# export VDTSETUP_ENABLE_SYSLOG_NG=
# export VDTSETUP_ENABLE_VOMRS=
# export VDTSETUP_ENABLE_VOMS=
# export VDTSETUP_ENABLE_WS_CONTAINER=
# export VDTSETUP_GRATIA_CONDOR_PROBE=
# export VDTSETUP_GRATIA_GLEXEC_PROBE=
# export VDTSETUP_GRATIA_PBS_LSF_PROBE=
# export VDTSETUP_GRATIA_PBS_LSF_PROBE=
# export VDTSETUP_GRATIA_SGE_PROBE=
# export VDTSETUP_GRIS_AUTH=''
# export VDTSETUP_INSTALL_CERTS=''
