<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : gums.config.xml
    Created on : June 9, 2004, 10:05 AM
    Author     : carcassi
    Description:
        Purpose of the document follows.
-->

<gums>
  <persistenceFactories>
    <persistenceFactory name="mysql" className="gov.bnl.gums.hibernate.HibernatePersistenceFactory" 
                        hibernate.connection.driver_class="com.mysql.jdbc.Driver"
                        hibernate.dialect="net.sf.hibernate.dialect.MySQLDialect"
                        hibernate.connection.url="jdbc:mysql://nggums.your.domain:49151/GUMS_1_1"
                        hibernate.connection.username="gums"
                        hibernate.connection.password=""
                        hibernate.connection.autoReconnect="true"
                        hibernate.c3p0.min_size="3"
                        hibernate.c3p0.max_size="20"
                        hibernate.c3p0.timeout="180" />
  </persistenceFactories>

  <adminUserGroup className='gov.bnl.gums.ManualUserGroup' persistenceFactory='mysql' name='admins' />

  <groupMappings>
    <groupMapping name='mappedUsers'>
      <userGroup className='gov.bnl.gums.ManualUserGroup'
                 persistenceFactory='mysql'
                 name='mappedUsers'/>
      <accountMapping className='gov.bnl.gums.ManualAccountMapper'
                 persistenceFactory='mysql'
                 name='manualGroup'/>
    </groupMapping>
    <groupMapping name='ngadmin' accountingVo='ngadmin' accountingDesc='NGADMIN'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='ngadmin' voGroup="/APACGrid/NGAdmin"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-admin' />
    </groupMapping>
    <groupMapping name='gtest' accountingVo='gtest' accountingDesc='GTEST'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='gtest' voGroup="/APACGrid/GTest"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-test' />
    </groupMapping>
<!--
    <groupMapping name='nimrod' accountingVo='nimrod' accountingDesc='NIMROD'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='nimrod' voGroup="/APACGrid/Nimrod"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-nimrod' />
    </groupMapping>
    <groupMapping name='ausbelle' accountingVo='ausbelle' accountingDesc='AUSBELLE'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='ausbelle' voGroup="/APACGrid/AusBelle"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-belle' />
    </groupMapping>
    <groupMapping name='testchem' accountingVo='testchem' accountingDesc='TESTCHEM'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='testchem' voGroup="/APACGrid/TestChem"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-tchem' />
     </groupMapping>
     <groupMapping name='gin' accountingVo='gin' accountingDesc='GIN'>
       <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://kuiken.nikhef.nl:8443/voms/gin.ggf.org/services/VOMSAdmin'
                 persistenceFactory='mysql' name='gin' voGroup="/gin.ggf.org"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-gin' />
     </groupMapping>
    <groupMapping name='compgeo' accountingVo='compgeo' accountingDesc='COMPGEO'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='compgeo' voGroup="/APACGrid/CompGeo"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
      <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-geo' />
    </groupMapping>
    <groupMapping name='ngportal' accountingVo='ngportal' accountingDesc='NGPORTAL'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='ngportal' voGroup="/APACGrid/NGPortal"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
      <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-portal' />
    </groupMapping>
    <groupMapping name='unimelb' accountingVo='unimelb' accountingDesc='UNIMELB'>
      <userGroup className='gov.bnl.gums.VOMSGroup'
                 url='https://vomrs.apac.edu.au:8443/voms/APACGrid/services/VOMSAdmin'
                 persistenceFactory='mysql' name='unimelb' voGroup="/APACGrid/UniMelb"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' sslCAFiles="/etc/grid-security/certificates/*.0" matchFQAN="group"
                 acceptProxyWithoutFQAN="true"/>
      <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='grid-melb' />
    </groupMapping>
-->
  </groupMappings>

  <hostGroups>
    <hostGroup className='gov.bnl.gums.CertificateHostGroup'  cn='*.your.domain' groups='mappedUsers,ngadmin,gtest' />
  </hostGroups>
</gums>
