<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:shibenv.properties</value>
			</list>
		</property>
	</bean>

	<bean id="jdbcUtil" class="au.org.arcs.shibenv.JDBCUtil">
		<property name="username" value="${JDBC_USERNAME}" />
		<property name="password" value="${JDBC_PASSWORD}" />
		<property name="url" value="${JDBC_URL}" />
	</bean>

	<bean id="mailUtil" class="au.org.arcs.shibenv.MailUtil">
		<property name="smtpHost" value="${SMTP_HOST_NAME}" />
		<property name="smtpUsername" value="${SMTP_AUTH_USER}" />
		<property name="smtpPassword" value="${SMTP_AUTH_PASSWORD}" />
		<property name="to" value="${MAIL_TO}" />
		<property name="from" value="${MAIL_FROM}" />
		<property name="cc" value="${MAIL_CC}" />
		<property name="subject" value="${MAIL_SUBJECT}" />
	</bean>

	<bean id="dbBean" class="au.org.arcs.shibenv.DBBean">
		<property name="dbEnforce" value="${DATABASE_ENFORCE}" />
	</bean>

	<bean id="mapper" class="au.org.arcs.shibenv.AttrMapper">
		<property name="providerID"
			value="${Shib_Identity_ProviderID}" />
		<property name="authenticationMethod"
			value="${AuthenticationMethod}" />
		<property name="o" value="${o}" />
		<property name="eduPersonAssurance"
			value="${eduPersonAssurance}" />
		<property name="auEduPersonSharedToken"
			value="${auEduPersonSharedToken}" />
		<property name="eduPersonTargetedID"
			value="${eduPersonTargetedID}" />
		<property name="cn" value="${cn}" />
		<property name="displayName" value="${displayName}" />
		<property name="mail" value="${mail}" />
		<property name="eduPersonAffiliation"
			value="${eduPersonAffiliation}" />
		<property name="eduPersonScopedAffiliation"
			value="${eduPersonScopedAffiliation}" />
		<property name="eduPersonEntitlement"
			value="${eduPersonEntitlement}" />
		<property name="l" value="${l}" />
		<property name="homeOrganization" value="${homeOrganization}" />
		<property name="homeOrganizationType"
			value="${homeOrganizationType}" />

	</bean>


</beans>

