<!--

Copy this context.xml file in $CATALINA_HOME/conf/[enginename]/[hostname]/[webappname].xml
i.e. /opt/tomcat6/Catalina/localhost/stps.xml to deploy as the webapps as /stps

IMPORTANT NOTICE:
These context parameters override the <context-param> elements from the web application
WEB-INF/web.xml file.
-->
<Context
    docBase="/opt/stps/share/webapps/stps.war"
    unpackWAR="false"
    reloadable="true"
    debug="0">

    <!-- Context parameter: absolute location of the STPS configuration file -->
    <Parameter
        name="STPSConfigurationFile"
        value="/opt/stps/etc/stps.properties"
        override="false"
        type="java.lang.String"/>

    <!-- Context parameter: absolute location of the log4j configuration file -->
     
    <Parameter
        name="Log4JConfigurationFile"
        value="/opt/stps/etc/log4j.xml"
        override="false"
        type="java.lang.String"/>

</Context>