<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- 
STPS log4j configuration

NOTICE: log4j.xml file must be in classpath
-->
<log4j:configuration debug="false"
    xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- log file appender -->
    <appender name="logfile" class="org.apache.log4j.RollingFileAppender"> 
        <param name="File" value="/opt/stps/var/log/stps.log"/> 
        <param name="MaxFileSize" value="1MB"/> 
        <param name="MaxBackupIndex" value="10"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %C{1}.%M: %m%n"/> 
        </layout> 
    </appender> 

    <!-- simple file appender -->
    <appender name="file" class="org.apache.log4j.FileAppender"> 
        <param name="File" value="/opt/stps/var/log/stps.log"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %C{1}.%M: %m%n"/> 
        </layout> 
    </appender> 
    
    <!-- stdout appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
        <param name="Target" value="System.out"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%-5p %C{1}.%M: %m%n"/> 
        </layout> 
    </appender>
    
    <!-- STPS loggers -->
    <logger name="au.org.arcs.stps">
        <level value="debug"/>
    </logger>
 
    <!-- root logger level -->
    <root> 
        <priority value="info" /> 
        <appender-ref ref="logfile" /> 
    </root>
    
</log4j:configuration>
